<!DOCTYPE html>
<html>
  <head>
  <title><%=typeof title == 'undefined' ? 'Crowd Simulation' : title%></title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  <!-- Simplye Bootstrap CSS without further styling -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.6/jq-2.2.3/dt-1.10.12/datatables.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/4.0.1/ekko-lightbox.min.css" integrity="sha256-wj7M9V99T9/93nK8iE1vAVrfzzAicm99o76ZNYyUrtE=" crossorigin="anonymous" />
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/interface.css">
  <!--STYLES END-->
  </head>

  <body>

  <!--Only show navbar if user is logged in -->

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= req.baseURL %>">Crowd Simulation</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="main-menu">

        <!-- Menu -->
        <ul class="nav navbar-nav">
          <!-- Public Menu Items-->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Simulations <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/simulations"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> List Simulations</a></li>
              <li><a href="/sim/add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Simulation</a></li>
            </ul>
          </li>
        </ul>

        <!-- Logout Button -->
        <ul class="nav navbar-nav pull-right">
          <% if(typeof(user)!='undefined' && user) { %>
            <li class=''>
              <p class="navbar-btn navbar-right">
                <a href="/logout" class="btn btn-default" title='Logout'>
                  <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                </a>
              </p>
            </li>
          <% } else { %>
            <li class=''>
              <p class="navbar-btn navbar-right">
                <a href="/login" class="btn btn-primary" title='Login'>Login</a>
              </p>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <div id='flash' class='container'>
    <% var errors = req.flash('error'); %>
    <% errors.forEach(function (error) { %>
      <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= __(error) %>
      </div>
    <% }) %>

    <% var messages = req.flash('message'); %>
    <% messages.forEach(function (message) { %>
      <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= __(message) %>
      </div>
    <% }) %>
  </div>

  <!-- CONTENT -->
  <div class='container'><%- body %></div>

  <!--TEMPLATES-->

  <!--TEMPLATES END-->


  <!-- CDN Libraries -->
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.6/jq-2.2.3/dt-1.10.12/datatables.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.5.3/jquery.timeago.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/4.0.1/ekko-lightbox.min.js" integrity="sha256-H6F05S2wD+mxs23BPOMwoMWPoGqKwGjiI0y9FHvXtrk=" crossorigin="anonymous"></script>
  <!-- JS SCRIPTS -->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/default.js"></script>
  </body>
</html>
