<!--UPLOAD TextFile -->
<h1>Create a new Simulation</h1>

<form id="search" action="/sim/<% if (edit) {%>update<% } else { %>create<% } %>/<%= sim.id %>"
  enctype="multipart/form-data" method="post">


  <div class="row">

    <div class="col-md-5">
      <div class="form-group">
        <label for="inpName">Name of the Simulation *</label>
        <input type="text" class="form-control" id="inpName" name='name'
          placeholder="Title" value="<%= sim.name %>">
      </div>

      <div class="form-group">
        <label for="inpFileSource">Source File</label>
        <% if (edit && sim.file_source != '') {%>
          <p class="text-danger">A file is aready here. Uploading another one will replace it.</p>
        <% } %>
        <input type="file" id='inpFileSource' name="source">
      </div>

      <div class="form-group">
        <label for="inpFileXMLBase">XML Base File</label>
        <% if (edit && sim.file_xml_base != '') {%>
          <p class="text-danger">A file is aready here. Uploading another one will replace it.</p>
        <% } %>
        <input type="file" id='inpFileXMLBase' name="xmlbase">
      </div>

      <div class="form-group">
        <label for="inpFileXMLSim">XML Real File</label>
        <% if (edit && sim.file_xml_sim != '') {%>
          <p class="text-danger">A file is aready here. Uploading another one will replace it.</p>
        <% } %>
        <input type="file" id='inpFileXMLSim' name="xmlsim">
      </div>

      <div class="form-group">
        <label for="inpFileOutput">Output File</label>
        <% if (edit && sim.file_output != '') {%>
          <p class="text-danger">A file is aready here. Uploading another one will replace it.</p>
        <% } %>
        <input type="file" id='inpFileOutput' name="output">
      </div>
    </div>

    <div class="col-md-7">
      <div class="form-group">
        <label for="inpVideoOriginal">Video URL to original video</label>
        <input type="text" class="form-control" id="inpVideoOriginal"
        name='videooriginal' placeholder="Video URL" value="<%= sim.vurl_original %>">
      </div>

      <div class="form-group">
        <label for="inpVideoReal">Video URL to real crowd</label>
        <input type="text" class="form-control" id="inpVideoReal"
        name='videoreal' placeholder="Video URL" value="<%= sim.vurl_real %>">
      </div>

      <div class="form-group">
        <label for="inpVideoSim">Video URL to simulated crowd</label>
        <input type="text" class="form-control" id="inpVideoSim"
        name='videosim' placeholder="Video URL" value="<%= sim.vurl_sim %>">
      </div>

      <div class="form-group">
        <label for="inpVideoMerged">Video URL to merged crowd</label>
        <input type="text" class="form-control" id="inpVideoMerged"
        name='videomerged' placeholder="Video URL" value="<%= sim.vurl_merged %>">
      </div>
    </div>
  </div>
  <input type="submit" class='btn btn-primary center-block' value="Upload">
</form>


